body.theme_light .header.header-scrolled {
	background:#fff;
	box-shadow:0 2px 20px rgba(1,41,112,0.1)
}

body.theme_light .services .service-box.blue:hover {
	background-color: #0dcaf0;
}

body.theme_light .services .service-box.orange:hover {
	background-color: #ffc107;
}

body.theme_light .services .service-box.green:hover {
	background-color: #20c997;
}

body.theme_light section,
body.theme_light .footer .footer-newsletter,
body.theme_light .footer .footer-top,
body.theme_light .navbar-mobile ul,
body.theme_light .footer {
	box-shadow:0 -15px 20px 0 #dfebff8a;
	border:1px solid #e1ecff;
	background-color: #fff;
}

body.theme_light .about .content {
	background-color:#f6f9ff;
}

body.theme_light .section-header p,
body.theme_light section .container .row p,
body.theme_light .pricing ul li,
body.theme_light .footer .footer-newsletter p,
body.theme_light .footer .footer-top .footer-info p,
body.theme_light .hero p,
body.theme_light .footer .container p{
	color:#848484;
}

body.theme_light .footer .footer-newsletter {
	background:#f6f9ff;
	border-top:1px solid #e1ecff;
}

body.theme_light .footer .footer-newsletter form,
body.theme_light .footer .footer-top{
	background-color:#fff;
}

body.theme_light .hero {
	background:url("../img/background/light.png") top center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover
}

body.theme_light .mobile-nav-toggle {
	color: #444;
}

body.theme_light #call_to_action .background-container {
	background-color: #ffffb5;
	background-image: linear-gradient(315deg, #ffffb5 0%, #247ba0 74%);
	border: 1px solid #20c997;
}

/*---------------------  DARK START  ----------------------------*/

body.theme_dark #call_to_action .background-container {
	background-color: #310e68;
	background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
	border: 1px solid #6f42c1;
}


body.theme_dark .mobile-nav-toggle {
	color: #fff;
}

body.theme_dark .hero {
	background:url("../img/background/dark.png") top center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover
}

body.theme_dark .footer .footer-newsletter form,
body.theme_dark .footer .footer-top {
	background-color: #444;
}

body.theme_dark .services .service-box.blue:hover {
	background-color: #0a5a6f;
}

body.theme_dark .services .service-box.orange:hover {
	background-color: #664d03;
}

body.theme_dark .services .service-box.green:hover {
	background-color: #0f5132;
}


body.theme_dark .section-header p,
body.theme_dark section .container .row p,
body.theme_dark .pricing ul li,
body.theme_dark .footer .footer-newsletter p,
body.theme_dark .footer .footer-top .footer-info p,
body.theme_dark .hero p,
body.theme_dark .footer .container p{
	color:#adb5bd;
}

body.theme_dark .features .feature-box {
	background-color: #495057;
}

body.theme_dark .about .content {
	background-color: #343a40;
}

body.theme_dark section,
body.theme_dark .footer .footer-newsletter,
body.theme_dark .footer .footer-top,
body.theme_dark .navbar-mobile ul,
body.theme_dark .footer {
	background-color: #212529;
	box-shadow:0 -15px 20px 0 #00000080;
	border:1px solid #343a40;
}

body.theme_dark .header.header-scrolled {
	background-color: #212529;
	box-shadow: 0 2px 20px #444;
}

body.theme_dark{
	background-color: #111827;
}
